@charset "UTF-8";

*{
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right,#CAF0F8,#90E0EF,#00B4D8,#0077B6);
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
    width: 600px;
    padding: 10px;
    margin: auto;
}
img{
    width: 85%;
    height: 100%;
}
h1{
    color: #03045f;
    text-align: center;
    text-shadow: 1px 1px 2px #03045f;
}
h2{
    color: #03045f;
}
p{
    text-align: justify;
}
a{
    color: darkblue;
    text-decoration: none;  
}
a:active{
    color: red;
}
.especial{
    background-color: rgb(113, 113, 236);
}
.especial:active{
    color: rgb(118, 5, 5);
}
.especial::before{
    content:'⇒' ;
    color: yellow;
}
.especial::after{
    content: '⇐';
    color: yellow;
}
a:visited{
    color: darkred;
}
a:hover{
    color: red;
}
.diferente:hover{
    color: darkorchid;
}
.normal{
    border-width: 10px;
    border-style: groove;
    border-color: rgb(125, 116, 116);
}
video{
    border-width: 10px;
    border-style:groove;
    border-color: rgb(143, 130, 130);
}

